<div class="heading">
    <h1>Reset Password</h1>
</div>
<div class="form">
    <div class="resetpass">

        <label>
            <h4>Previous Password</h4>
        </label>
        <br>

        <input type="password" placeholder="Previous  Password " style="margin-left: 1%;padding: 5px;">
        <br><br>

        <label>
            <h4>New Password</h4>
        </label> <br>
        <input type="password" placeholder="New Password" style="margin-left: 1%;padding: 5px;">
        <br><br>
        <label>
            <h4>Confirm Password</h4>
        </label> <br>
        <input type="password" placeholder="Confirm Password" style="margin-left: 1%;padding: 5px;">
        <br><button class="resetbuttton">Submit</button>

    </div>
</div>    

