<div class="heading">
    <h1>My Profile</h1>
</div>
<div class="form">
    <table class="table">
        <tr>
            <td>
                <div id="circle">
                    <p> Profile Image </p>6
                    
                </div>
            </td>
            <td><p>Last login: Date and Time : -</p>
            </td>
        </tr>
        <tr>
            <td><label for="mail">Email : -</label>
            </td>
            <td><label for="name">Name : -</label> 
            </td>
        </tr>
        <tr>
            <td> <label for="phone">Contact no.: -</label>
            </td>
            <td> <label for="rolename">Role Name :- </label>
            </td>
        </tr>
        <input mat-Input >
    </table>
</div>
